@model ModelView.CPCchannelPartnerModel


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sanjivani Tech.</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link href="https://master.pioneersoft.co.in/Content/Boost/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="https://master.pioneersoft.co.in/Content/Boost/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />

    <!-- Theme style -->
    <link href="https://master.pioneersoft.co.in/Content/Boost/dist/css/adminlte.css" rel="stylesheet" />

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page" style="background-image: url('https://master.pioneersoft.co.in/Documents/Logo/LoginBanner.jpg');">
    <div class="login-box" style="position: absolute;right: 71px;top: 180px;float: right;">

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                @using (Html.BeginForm("SetCPCLogin", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", @placeholder = "User ID" })
                        @Html.ValidationMessageFor(m => m.EmailID, "", new { @class = "text-danger", @placeholder = "User ID" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.pwd, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.pwd, "", new { @class = "text-danger" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                              
                                <label for="remember">
                                    <p class="message p-top10 margin-bottom0">Not registered? <a href="@Url.Action("RegisterCP","Home")">Create an account</a></p>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="https://master.pioneersoft.co.in/Content/Boost/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="https://master.pioneersoft.co.in/Content/Boost/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->
    <script src="https://master.pioneersoft.co.in/Content/Boost/dist/js/adminlte.min.js"></script>

</body>
</html>
@if (Session["Loginmsg"] == "Invalid User Name And Password Please Try Again")
{
    <script type="text/javascript">
        alert("Invalid User Name And Password Please Try Again");
    </script>

}

