@model ModelView.CPStorefront
@{
    ViewBag.Title = "CPLoginPage";
    Layout = "~/Views/Shared/_LayoutCP.cshtml";
}

<section class="content-header">
    <h1>
        Login Page Banner

    </h1>

</section>

<section class="content">

    <!-- /.box-body -->

    <div class="col-lg-12">
        @using (Html.BeginForm("SetCPLoginPage", "CP", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="box-body no-padding" style="background-color: whitesmoke;">
                <div class="row">
                   

                    <div class="form-group col-md-3">

                        <label for="exampleInputFile">Upload Login Page Image</label>
                        <input type="file" name="postedFile" class="form-control" style="background-color: transparent;border: none;" id="fileuploaded" accept="image/png,image/jpeg,image/jpg,application/pdf" />

                    </div>

                    <div class="form-group col-md-3">
                        <button type="submit" class="btn btn-primary" style="background: black;margin-top: 29px;"><i class="fa fa-save"></i> Upload</button>
                    </div>
                </div><!-- /.row - inside box -->
            </div>
        }
        <section class="col-lg-12 connectedSortable ui-sortable">
            <!-- Box (with bar chart) -->
            <div class="box box-danger" id="loading-example">
                <div class="box-header" style="cursor: move;background-color: steelblue;cursor: move;color: white;">
                    <!-- tools box -->


                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="box-body table-responsive" id="OrderDtl">

                    </div>
                </div><!-- /.box-body -->

            </div><!-- /.box -->
            <!-- Custom tabs (Charts with tabs)-->
            <!-- /.nav-tabs-custom -->
            <!-- Calendar -->
            <!-- /.box -->
            <!-- quick email widget -->


        </section>




    </div>


</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="~/Scripts/Excel/jquery.table2excel.js"></script>

<script type="text/javascript">
  
    var d = loadData("@Url.Action("_partialCPLoginPage", "CP")")
    $('#OrderDtl').html(d);
    $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
    function write_to_excel() {
        $("#example1").table2excel({
            name: "Table2Excel",
            filename: "myFileName",
            fileext: ".xls"
        });
    }
    $('#CustName').change(function () {
        debugger;

        var t1 = document.getElementById("CustName");
        var Name = t1.options[t1.selectedIndex].text;
        var data = { CustName: Name };
        var d = loadData("@Url.Action("_partialCPLoginPage", "Director")", data)
        $('#OrderDtl').html(d);
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
        @*var dd = getJsonResult("@Url.Action("DeleteUserIntraction", "Partner")", { IntractionId });
            var d = loadData("@Url.Action("_PartialUserIntarction", "Partner")", data);
            $('#_IntractionList').html(d);
            var messege = '';
            if (dd.Status == 200) {
                messege = 'Record saved successfully';
            }
            else {
                messege = 'Internal server error please try again';
            }*@
    });

    $('#ProductCat').change(function () {
        debugger;
        var t = document.getElementById("ProductCat");
        var Cat = t.options[t.selectedIndex].text;

        var t1 = document.getElementById("CustName");
        var Name = t1.options[t1.selectedIndex].text;

        var data = { CustName: Name, Categeory: Cat };
        if (Cat == 'Domain') {
            var d = loadData("@Url.Action("_partialSetPrice", "Product")", data)
            $('#OrderDtl').html(d);
            $("#example1").dataTable();
            $('#example2').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });
        }
        if (Cat == 'Email') {
            var d = loadData("@Url.Action("_partialEmailSetPrice", "Product")", data)
            $('#OrderDtl').html(d);
            $("#example1").dataTable();
            $('#example2').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });
        }
        if (Cat == 'Hosting') {
            var d = loadData("@Url.Action("_partialHostingSetPrice", "Product")", data)
            $('#OrderDtl').html(d);
            $("#example1").dataTable();
            $('#example2').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });
        }
        @*var dd = getJsonResult("@Url.Action("DeleteUserIntraction", "Partner")", { IntractionId });
            var d = loadData("@Url.Action("_PartialUserIntarction", "Partner")", data);
            $('#_IntractionList').html(d);
            var messege = '';
            if (dd.Status == 200) {
                messege = 'Record saved successfully';
            }
            else {
                messege = 'Internal server error please try again';
            }*@
    });
    $('#SaveCat').click(function () {
        debugger;
        var t = document.getElementById("ProductCat");
        var Cat = t.options[t.selectedIndex].text;

        var t1 = document.getElementById("CustName");
        var Name = t1.options[t1.selectedIndex].text;
        var amount = $('#Amount').val()

        var data = { CustName: Name, Categeory: Cat };

        var dd = getJsonResult("@Url.Action("SetPriceList", "Product")", { Cat, Name, amount });

        var messege = '';
        if (dd.Status == 200) {
            if (Cat == 'Domain') {
                var d = loadData("@Url.Action("_partialSetPrice", "Product")", data)
                $('#OrderDtl').html(d);
                $("#example1").dataTable();
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            }


        }
        else {
            messege = 'Internal server error please try again';
        }



    });
</script>

