@model ModelView.InvoicePrint
@{
    ViewBag.Title = "ManageOrder";
    Layout = "~/Views/Shared/_LayoutCP.cshtml";
}

<section class="content-header">
    <h1>
        Manage Order

    </h1>

</section>
<section class="content">


    <div class="col-lg-12">
        <section class="col-lg-12 connectedSortable ui-sortable">
            <!-- Box (with bar chart) -->
            <div class="box box-danger" id="loading-example">
                <div class="box-header" style="cursor: move;background-color:white;cursor: move;color: black;">
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col" style="border: 1px solid;">
                            <strong>Service Provider</strong>

                            <address>
                                @Model.ServiceProviderName <br>
                                @Model.CompanyName <br>
                                @Model.ServiceProviderAddress, @Model.ServiceProviderCity - @Model.ServiceProviderPostalCode<br>
                                M : @Model.ServiceProviderMobileNo <br>
                                Email: @Model.ServiceProviderEmail
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col" style="border: 1px solid;">
                            <strong>Customer</strong>
                            <address>
                                @Model.CustomerName<br>
                                @Model.CustomerAddress<br>
                                @Model.CustomerCity-@Model.CustomerPostalCode<br>
                                Phone: @Model.CustomerMoNo<br>
                                Email: @Model.CustomerEmail
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col" style="border: 1px solid;">
                            <b>Invoice #007612</b><br>
                            <br>
                            <b>Order ID:</b> @Model.OrderId<br>
                            <b>Order Date:</b> @Model.OrderDate<br>
                            <b>Account:</b> 968-34567
                        </div>
                        <!-- /.col -->
                    </div>

                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="box-body table-responsive" id="OrderDtl">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr style="color: white;background-color: #030358;">


                                    <th>Description</th>
                                    <th>Qty</th>
                                    <th>Rate Per Qty</th>
                                    <th>Taxable Value</th>
                                    <th>CGST</th>
                                    <th>SGST</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Productlst)
                                {
                                    <tr style="background-color:white">


                                        <td>@item.ProductName</td>
                                        <td>@item.Qty</td>
                                        <td>@item.RatePerQty</td>
                                        <td>@item.BasePrise</td>
                                        <td>@item.CGST</td>
                                        <td>@item.SGST</td>
                                        <td>@item.Price</td>
                                    </tr>
                                }


                            </tbody>

                            <tfoot>
                                <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                </div><!-- /.box-body -->
                <a class="btn btn-danger btn-md" href="@Url.Action("PrintBill", "CPC")" style="color:white"><i class="fa fa-plus"></i> Print Bill</a>
            </div><!-- /.box -->
            <!-- Custom tabs (Charts with tabs)-->
            <!-- /.nav-tabs-custom -->
            <!-- Calendar -->
            <!-- /.box -->
            <!-- quick email widget -->


        </section>




    </div>


</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="~/Scripts/Excel/jquery.table2excel.js"></script>

<script type="text/javascript">
        $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
        });
        function write_to_excel() {
            $("#example1").table2excel({
                name: "Table2Excel",
                filename: "myFileName",
                fileext: ".xls"
            });
        }
        function DownloadExcel() {
            $.ajax({
                type: "POST",
                url: "/Product/ExcelExportOrderList",
                cache: false,
                success: function (data) {
                    window.location = '/Product/DownloadOrderList';
                },
                error: function (data) {
                    Materialize.toast("Something went wrong. ", 3000, 'rounded');
                }
            });
        }
</script>

