
@{
    ViewBag.Title = "VPSLinux";
    Layout = "~/Views/Shared/_LayoutStoreFront.cshtml";
}
<section class="row find_domain find_domain3 banner-domain-search">
    <div class="row m0 find_domain_cover" style="background-image:url(https://master.pioneersoft.co.in/CPStorefront/Banner/@Session["Banner"])">
        <div class="container overly-content">
            <div class="col-lg-12">
                <div class="row">

                    <div class="domainpricing col-lg-8 center-block m-top30">

                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<section class="section-spacing bg_white">
    <div class="container">
        <div class="sectionTitle m-bottom80">
            <h2><strong>Just what you need for a Basic Web Presence</strong></h2>

        </div>

        <div class="row featured-wrap">
            <div class="col-md-4 featured-item padding30">
                <i class="icon-adjustments text-gredient1  text-shadow fa-4x" aria-hidden="true"></i>
                <h3>Lightning Fast Website</h3>
                <p>Our web application accelerator, powered by Varnish Cache, ensures the maximum performance of your website at all times!</p>
            </div>
            <div class="col-md-4 featured-item padding30">
                <i class="icon-aperture text-gredient1  text-shadow fa-4x" aria-hidden="true"></i>
                <h3>Email included</h3>
                <p>Advanced email management features in cPanel allow you manage your emails, mailing lists and more without any hassles.</p>
            </div>
            <div class="col-md-4 featured-item padding30">
                <i class="icon-lightbulb text-gredient1  text-shadow fa-4x" aria-hidden="true"></i>
                <h3>cPanel for Management</h3>
                <p>cPanel, an intuitive and powerful control panel, on all plans which makes your hosting package management a breeze!</p>
            </div>

        </div>
    </div>
</section>


<section class="row section-spacing bg-gray">
    <div class="container">
        <div class="sectionTitle text-center p-bottom80">
            <h1>Install a Shopping Cart, Photo Gallery, a Blog or any other module in just 1 click</h1>
            <p>50+ Plugins - Powered by Softaculous</p>
        </div>
        <div class="col-sm-12">
            <div class="logo_slider owl-carousel owl-theme owl-loaded">








                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2775px, 0px, 0px); transition: all 0.25s ease 0s; width: 4440px;"><div class="owl-item cloned" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="https://master.pioneersoft.co.in/Content/Storefront/images/logos/5.png" class="border shadow radius" alt=""></div></div><div class="owl-item cloned" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="https://master.pioneersoft.co.in/Content/Storefront/images/logos/6.png" class="border shadow radius" alt=""></div></div><div class="owl-item cloned" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/3.png" class="border shadow radius" alt=""></div></div><div class="owl-item cloned" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/4.png" class="border shadow radius" alt=""></div></div><div class="owl-item" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/1.png" class="border shadow radius" alt=""></div></div><div class="owl-item" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/2.png" class="border shadow radius" alt=""></div></div><div class="owl-item" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/3.png" class="border shadow radius" alt=""></div></div><div class="owl-item" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/4.png" class="border shadow radius" alt=""></div></div><div class="owl-item" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/5.png" class="border shadow radius" alt=""></div></div><div class="owl-item" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/6.png" class="border shadow radius" alt=""></div></div><div class="owl-item active" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/3.png" class="border shadow radius" alt=""></div></div><div class="owl-item active" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/4.png" class="border shadow radius" alt=""></div></div><div class="owl-item cloned active" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/1.png" class="border shadow radius" alt=""></div></div><div class="owl-item cloned active" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/2.png" class="border shadow radius" alt=""></div></div><div class="owl-item cloned" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/3.png" class="border shadow radius" alt=""></div></div><div class="owl-item cloned" style="width: 277.5px; margin-right: 0px;"><div class="item"><img src="images/logos/4.png" class="border shadow radius" alt=""></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;"><span class="lnr lnr-arrow-left"></span></div><div class="owl-next" style="display: none;"><span class="lnr lnr-arrow-right"></span></div></div><div class="owl-dots" style=""><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div></div></div>
            </div>
        </div>
    </div>
</section>
<section class="row pricing_plan_table section-spacing bg_gray">


    <div class="container ">
        <div class="sectionTitle">

            <h2>Select Your Plan</h2>
        </div>
        <div class="row pricing pricing2">
            <div class="container">

                <div class="row">
                    @foreach (var item in ViewBag.VPSLinux)
                    {
                        <div class="col-sm-4 price_plan">
                            <div class="inner m0 bg-white shadow border radius" style="background-color:white">
                                <div class="plan_intro">
                                    <div class="price row m0">
                                        <div class="planType row m0">
                                            <h4>@item.ProductName</h4>
                                        </div>
                                        <span class="fa fa-inr"></span>
                                        <span class="amount text-gredient1 text-shadow1" style="font-size: 54px;">@item.Price</span>
                                        <small>/mo</small>
                                    </div>

                                </div>
                                <div class="row m0 service_provide_row">
                                    <ul class="nav service_provide">
                                        <li>@item.DomainSize Domain</li>
                                        <li>@item.DatabaseSize Disk Space</li>
                                        <li>@item.TransferSize Data Transfer</li>
                                        <li>@item.EmailAccount Email Accounts</li>
                                        @*<li>SEO</li>
                                            <li>99.9% Uptime</li>
                                            <li>MySQL Databases</li>*@
                                    </ul>
                                    <a href="#" class="btn btn-primary btn-xlg"><i class="fa fa-external-link"></i> Read More</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row faqs_section section-spacing bg_white">
    <div class="container">

        <div class="sectionTitle p-bottom80">

            <h2>FAQs</h2>
        </div>

        <div aria-multiselectable="true" class="panel-group faqs_accordion" id="faqs_accordion" role="tablist">
            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading1" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse1" aria-expanded="true" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse1" role="button">Q. What is Shared Web hosting?</a></h4>
                        </div>
                        <div aria-labelledby="heading1" class="panel-collapse collapse in" id="collapse1" role="tabpanel">
                            <div class="panel-body">
                                In Shared Web Hosting, multiple clients are hosted on a single server i.e. the clients share the server's resources. This helps reduce the cost, since the cost of the server and its resources are spread over all the clients/packages hosted on the server. Shared Hosting is perfect for personal websites, small and mid-sized businesses that do not require all the resources of a server.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading2" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse2" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse2" role="button">Q. Can I host multiple Web sites within one Shared Hosting plan?</a></h4>
                        </div>
                        <div aria-labelledby="heading2" class="panel-collapse collapse" id="collapse2" role="tabpanel">
                            <div class="panel-body">
                                Yes! Our Pro and Business shared hosting plans allow you to host more than one Website, by adding secondary domains through your hosting control panel i.e. cPanel.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading3" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse3" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse3" role="button">Q. Is there a Money Back Guarantee?</a></h4>
                        </div>
                        <div aria-labelledby="heading3" class="panel-collapse collapse" id="collapse3" role="tabpanel">
                            <div class="panel-body">
                                Yes, we offer a 100% Risk Free, 30 day Money Back Guarantee.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading4" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse4" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse4" role="button">Q. Is Email hosting included in my package?</a></h4>
                        </div>
                        <div aria-labelledby="heading4" class="panel-collapse collapse" id="collapse4" role="tabpanel">
                            <div class="panel-body">
                                Yes, all our Hosting packages come with Unlimited Email Hosting.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading5" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse5" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse5" role="button">Q. Can I upgrade to a higher plan?</a></h4>
                        </div>
                        <div aria-labelledby="heading5" class="panel-collapse collapse" id="collapse5" role="tabpanel">
                            <div class="panel-body">
                                Yes, you can easily upgrade to one of our higher plans at any time.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading5" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse5" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse5" role="button">Q. Is my data safe? Do you take backups?</a></h4>
                        </div>
                        <div aria-labelledby="heading5" class="panel-collapse collapse" id="collapse5" role="tabpanel">
                            <div class="panel-body">
                                Yes, your data is a 100% secure and is backed-up every 5 days.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading5" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse5" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse5" role="button">Q. Do you include protection from viruses?</a></h4>
                        </div>
                        <div aria-labelledby="heading5" class="panel-collapse collapse" id="collapse5" role="tabpanel">
                            <div class="panel-body">
                                Yes, all our servers are protected by Clam AV.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading5" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse5" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse5" role="button">Q. Can I divide my Shared Hosting package and resell it?</a></h4>
                        </div>
                        <div aria-labelledby="heading5" class="panel-collapse collapse" id="collapse5" role="tabpanel">
                            <div class="panel-body">
                                While a Shared Hosting package cannot be used for this purpose, you can easily resell custom packages with our Reseller Hosting. To view our Reseller Hosting plans, click here.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading5" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse5" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse5" role="button">Q. Do you offer SSH access?</a></h4>
                        </div>
                        <div aria-labelledby="heading5" class="panel-collapse collapse" id="collapse5" role="tabpanel">
                            <div class="panel-body">
                                Yes, we provide SSH access to your domain. Because this is a shared environment, you will not get root access. However, you will be able to achieve most of your requirements by having the rights to access only the files relevant to your domain.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="media">
                    <div class="media-body">
                        <div class="panel-heading" id="heading5" role="tab">
                            <h4 class="panel-title"><a aria-controls="collapse5" aria-expanded="false" class="collapsed" data-parent="#faqs_accordion" data-toggle="collapse" href="#collapse5" role="button">Q. Who do I get in touch with if I need help?</a></h4>
                        </div>
                        <div aria-labelledby="heading5" class="panel-collapse collapse" id="collapse5" role="tabpanel">
                            <div class="panel-body">
                                Our Support team is always at hand to assist you. You can take a look at all our contact details here .
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


